doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')

    title #{title} - Facebook Webapp, Markan Patel

    link(href='/css/styles.css?v=#{cacheBuster}', rel='stylesheet')

   
    
    script(src='http://code.jquery.com/jquery-latest.min.js')
    
    script(src='/js/lib/jquery.fancybox.js')    
    link(src='/css/fancybox/jquery.fancybox.css')

    link(src='/css/fancybox/jquery.fancybox-buttons.css')
    script(src='js/lib/jquery.fancybox-buttons.js')
    script(src='js/lib/jquery.fancybox-media.js')

    link(src='css/fancybox/jquery.fancybox-thumbs.css')
    script(src='/js/lib/jquery.fancybox-thumbs.js')




    script(src='/js/lib/bootstrap.min.js')


    script(src='/js/main.js')



  body
    #wrap
      include partials/navigation
      .container
        include partials/flash
        block content
    include partials/footer


